---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import './styles/global.css';

import Footer from '../components/Footer.astro';

import Header from '../components/Header.astro'

const pageTitle = "Обо мне";

const identity = {
  firstName: "Лина",
  country: "Санкт-Петербург",
  occupation: "Искатель",
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Написание документации"];

const happy = true;
const skillColor = "navy";
---

<Layout>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>{pageTitle}</title>
    </head>
    <body>
      <Header />
      <h1>Информация о сайте</h1>
      <h2>... и авторе!</h2>
      <p>Данный сайт был реализован с помощью на фреймворке ASTRO</p>
      <p>Несколько фактов обо мне:</p>
<ul>
  <li>Меня зовут {identity.firstName}.</li>
  <li>Моя страна — {identity.country}, а род занятий — {identity.occupation}.</li>
</ul>
<p>Мои навыки:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
{happy && <p>Я была рада видеть вас на данной странице!</p>}

      <Footer />
    </body>
  </html>

  <style define:vars={{skillColor}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skill {
    font-weight: bold;
  }
  </style>

</Layout>
